.actionBarWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0;
  margin-top: 15px;
  height: 65px;
}

.actionText {
  font-weight: 700;
  font-size: 12px;
}
