<main class="mainWrapper">
<app-top-bar [username]="user?.user_name"></app-top-bar>
<section class="mainContainer">
  <ng-container *ngIf="!hasError && isSignedIn">
    <section>
      <h3>
        {{ beerName }}
      </h3>
    </section>
    <section class="ratingContainer">
      <p class="rating">{{ beerRating | number: "1.1-2" }}</p>
      <p *ngIf="beerRatingCount" class="ratingCount">
        {{ beerRatingCount }} votes
      </p>
      <p class="ratingCount">Checked in by You {{ ownCheckins }} times</p>
      <p *ngIf="ownRating" class="ratingCount">{{ ownRating }}</p>
      <app-wishlist [bid]="bid" [onWishlist]="isOnWishlist"></app-wishlist>
      <p *ngIf="beerStyle" class="ratingCount">
        {{ beerStyle }}
      </p>
    </section>
  </ng-container>
  <!-- <button (click)='forceLoginRefresh()'>Force refresh</button> -->
  <ng-container *ngIf="!hasError && !isSignedIn">
    <app-login></app-login>
  </ng-container>
  <ng-container *ngIf="hasError">
    <section>
      <h3>
        {{ errorMsg }}
      </h3>
    </section>
  </ng-container>
</section>
</main>
